*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  background-image: url("../assets/silicon/slicon-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  overflow-x: hidden;
}

.header {
  margin-top: 10px;
}

.header-container {
  padding: 0 10px;
  max-width: 1839px;
  margin: 0 auto;
  position: relative;
}

.header-container::after {
  content: "";
  position: absolute;
  background-image: url("../assets/aluminum/aluminum-top-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 887px;
  height: 678px;
  top: 310%;
  right: -0.6%;
  z-index: -10;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #161616;
  padding: 22px 40px;
  border-radius: 8px;
}

.logo {
  max-width: 220px;
  width: 100%;
  height: 56px;
  padding-right: 30px;
}

.nav-list {
  display: flex;
  padding: 22px 0;
  z-index: 5;
}

.nav-item {
  margin-right: 44px;
  font-size: 16px;
  transition: opacity 0.2s ease-in-out;
}

.nav-item:hover {
  opacity: 0.8;
}

.header-contacts {
  display: flex;
  z-index: 5;
}

.header-contacts-tel {
  padding: 22px 0;
  margin-right: 52px;
  transition: opacity 0.2s ease-in-out;
}

.header-contacts-tel:hover {
  opacity: 0.8;
}

.button {
  padding: 19px 77px;
  color: #fff;
  background-color: #365edc;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #34495e;
}

.button-outlined {
  border: #757575 1px solid;
  margin-left: 40px;
  background-color: inherit;
}

.header-no-margin {
  margin-top: 0;
}

.no-scroll {
  overflow: hidden;
}

.header-no-border {
  border-radius: 0px;
}
.container-no-padding {
  padding: 0px 0px;
}

.active {
  display: flex !important;
}

.open {
  display: block !important;
}

.close {
  display: none !important;
}

.burger-menu__open {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 25px;
  background-image: url("../assets/burger-menu-icon.svg");
  background-repeat: no-repeat;
  margin: auto 0;
  display: none;
}

.burger-menu__close {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: none;
  background-image: url("../assets/close-burger-icon.svg");
  background-repeat: no-repeat;
  margin: auto 0;
}

.container {
  max-width: 1504px;
  margin: 0 auto;
  padding: 0 10px;
}

.topAluminum {
  margin-top: 236px;
  margin-bottom: 262px;
  position: relative;
}

.topAluminum-title {
  font-size: 44px;
  color: #ffffff30;
  text-transform: uppercase;
  max-width: 820px;
  margin-bottom: 61px;
}

.topAluminum-title span {
  color: #fff;
  font-size: 128px;
}

.topAluminum-text {
  max-width: 900px;
  font-size: 24px;
  margin-bottom: 27px;
}

.topAluminum-text span {
  color: #0f70b7;
}

.base {
  margin-bottom: 180px;
}

.base-title {
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 40px;
}

.base-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.base-info {
  max-width: 900px;
}

.base-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.base-text-two {
  font-size: 20px;
  margin-bottom: 72px;
}

.base-btn {
  text-transform: none;
}

.base-slider {
  margin-bottom: 40px;
}

.base-slider-title {
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 40px;
}

.base-slider {
  width: 500px;
}

.base-slider__item {
  max-width: 732px;
  width: 100%;
  background-color: #fff;
  border-radius: 14px;
  color: #161616;
  min-height: 400px;
}

.base-slider__title {
  padding: 80px 80px 0 80px;
  margin-bottom: 40px;
  font-size: 24px;
}

.base-slider__text {
  color: #999999;
  padding: 0 80px 80px 88px;
}

.base-slider__img {
  width: 100%;
  max-width: 615px;
  max-height: 400px;
  margin: auto auto;
  display: flex;
}

.base-left-arrow {
  position: relative;
  background-image: url("../assets/arrow-left.svg");
  width: 99px;
  height: 99px;
  top: -300px;
  z-index: 10;
  left: -50px;
  cursor: pointer;
}

.base-right-arrow {
  background-image: url("../assets/arrow-right.svg");
  width: 99px;
  height: 99px;
  position: relative;
  top: -400px;
  z-index: 10;
  left: 450px;
  cursor: pointer;
}

.base-slider-mobile {
  display: none !important;
}

.base-slider-mobile__item {
  max-width: 732px;
  width: 100%;
  background-color: #fff;
  border-radius: 14px;
  color: #161616;
  min-height: 400px;
}

.base-slider-mobile__title {
  padding: 20px 24px;
  margin-bottom: 40px;
  font-size: 24px;
}

.base-slider-mobile__text {
  color: #999999;
  padding: 20px 24px;
  margin-top: -20px;
}

.base-slider-mobile__img {
  width: 100%;
  max-width: 336px;
  max-height: 213px;
  margin: auto auto;
  display: flex;
  margin-bottom: 10px;
}

.base-slider-mobile-left-arrow {
  position: relative;
  background-image: url("../assets/mobile-left-arrow.svg");
  width: 18px;
  height: 30px;
  top: -230px;
  z-index: 10;
  left: -10px;
  cursor: pointer;
  display: none;
}

.base-slider-mobile-right-arrow {
  background-image: url("../assets/mobile-right-arrow.svg");
  width: 18px;
  height: 30px;
  position: relative;
  top: -260px;
  z-index: 10;
  left: 98%;
  cursor: pointer;
  display: none;
}

.base-btn-mobile {
  display: none;
  margin: 0 auto;
}

.application-title__wrapper {
  max-width: 1504px;
  margin: 0 auto;
  padding: 0 10px;
}

.application-title {
  font-size: 44px;
  margin-bottom: 80px;
  max-width: 1100px;
  text-transform: uppercase;
}

.application-left-arrow {
  background-image: url("../assets/arrow-left.svg");
  width: 99px;
  height: 99px;
  position: relative;
  top: -270px;
  z-index: 10;
  left: 100px;
  cursor: pointer;
}

.application-right-arrow {
  background-image: url("../assets/arrow-right.svg");
  width: 99px;
  height: 99px;
  position: relative;
  top: -370px;
  z-index: 10;
  right: 100px;
  float: right;
  cursor: pointer;
}

.application-slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.application-slider__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.application-slider__info {
  position: absolute;
  bottom: 20px;
  margin-left: 30px;
}

.application-slider__title {
  font-size: 24px;
  max-width: 516px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.application-slider__list-item {
  margin-left: 30px;
  list-style: disc;
  font-size: 24px;
}

.contacts {
  margin-bottom: 40px;
}

.contacts-title {
  font-size: 128px;
  margin-bottom: 63px;
  text-transform: uppercase;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts-info {
  margin-top: 75px;
}

.contacts-text {
  font-size: 64px;
  margin-bottom: 80px;
  color: #ffffff30;
  text-transform: uppercase;
  display: inline-block;
}

.contacts-form {
  padding: 40px 40px 40px 40px;
  background-color: #365edc;
  border-radius: 14px;
  max-width: 615px;
  max-height: 430px;
}

.contacts-form__title {
  font-size: 16px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.contacts-form-text {
  margin-bottom: 20px;
  max-width: 430px;
}

.contacts-form__input {
  background-color: #4371ff10;
  padding: 17px 20px;
  width: 100%;
  margin-bottom: 20px;
  border: #4371ff 1px solid;
  border-radius: 4px;
  color: #fff;
}

.contacts-form__input::placeholder {
  color: #ffffff30;
}

.contacts-form__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts-form__btn {
  background-color: #fff;
  color: #365edc;
  margin-right: 42px;
}

.contacts-form-accept {
  font-size: 10px;
  color: #ffffff50;
  text-align: right;
  max-width: 220px;
}

.footer {
  padding: 76px 80px;
  background-color: #161616;
  display: flex;
}

.footer-logo {
  margin-right: 157px;
  cursor: pointer;
}

.footer-nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-nav__link {
  font-size: 16px;
  transition: opacity 0.2 ease-in-out;
}

.footer-nav__link:hover {
  opacity: 0.8;
}
