.blur {
  filter: blur(15px);
}

.popup-active {
  display: block !important;
  visibility: visible !important;
}

body.popup-open {
  overflow: hidden;
}

.overlay-active {
  visibility: visible !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
}

.popup__bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
}

.popup {
  position: fixed;
  top: 130px;
  z-index: 999;
  right: 0;
  left: 0;
  display: none;
  visibility: hidden;
  scrollbar-width: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  -ms-overflow-style: none;
}

.popup-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.popup-content {
  margin: -8% auto;
  padding: 20px;
  width: 100%;
  height: 1000px; /* Adjust the height as needed */
  overflow: auto; /* Add this line */
}

.form {
  background-color: #2b2b2b;
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 58px 44px 28px 44px;
  border-radius: 20px;
  margin-bottom: 160px;
}

.popup-details__form-active {
  display: block !important;
  visibility: visible !important;
}
.popup-contact__form-active {
  display: block !important;
  visibility: visible !important;
}

.popup-details__form {
  display: none;
  visibility: hidden;
}

.popup-contact__form {
  display: none;
  visibility: hidden;
}

.popup-order-form-active {
  display: block !important;
  visibility: visible !important;
}

.popup-order-form {
  display: none;
  visibility: hidden;
}

.popup-form__title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 30px;
  text-align: center;
}

.fieldset {
  border: 0;
  box-shadow: none;
  padding: 30px;
  background-color: #757575;
  border-radius: 15px;
  margin-bottom: 30px;
}

.fieldset:nth-child(1) {
  margin-bottom: 30px;
}

.form-title {
  display: contents;
  font-size: 35px;
  color: #2b2b2b;
}

.top-form__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}

.form-label__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 510px;
  width: 100%;
}

.bot-form__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.bot-form__wrapper:nth-child(3) {
  display: grid;
  grid-template-columns: 267px 267px 183px 267px;
}

.bot-form__wrapper:nth-child(4) {
  display: grid;
  grid-template-columns: 267px 404px 158px 158px;
}

.form-label__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mt1 {
  margin-top: 31px;
}

.form-label {
  margin-bottom: 11px;
  font-size: 17px;
  color: #2b2b2b;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-input {
  padding: 27px 30px;
  border-radius: 6px;
  border: 3px solid #5c5c5c;
  background-color: #00000010;
  color: #fff;
  max-width: 508px;
  font-size: 23px;
  width: 100%;
}

input[type="file"] {
  display: none;
}

.label-wrapper {
  display: inline-block;
  cursor: pointer;
  padding: 27px 30px;
  border-radius: 6px;
  border: 3px solid #5c5c5c;
  background-color: #00000010;
  color: #fff;
  max-width: 508px;
  text-align: center;
  font-size: 23px;
  color: #2b2b2b30;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-file {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  max-width: 150px;
  text-align: center;
  font-size: 23px;
  color: #2b2b2b30;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label-wrapper::after {
  content: "";
  position: absolute;
  background-image: url("../assets/upload-input.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 30px;
  right: 40px;
}

.inputWithoutImg {
  position: relative;
}

.inputWithoutImg::after {
  content: "";
  background-image: none;
}

.input4 {
  margin-top: -10px;
}

datalist {
  position: absolute;
  background-color: #757575;
  border: 3px solid #5c5c5c;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  max-width: 508px;
  width: 100%;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
  z-index: 999;
  top: 100px;
}

datalist::-webkit-scrollbar {
  width: 5px;
}

datalist::-webkit-scrollbar-track {
  background: #939393;
}

datalist::-webkit-scrollbar-thumb {
  background-color: #272727;
  border-radius: 5px;
}

.option {
  background-color: #757575;
  padding: 4px;
  color: #2b2b2b;
  margin-bottom: 1px;
  font-size: 18px;
  cursor: pointer;
}

.option:hover {
  background-color: lightblue;
}

.form-input::placeholder {
  text-align: center;
  font-size: 23px;
  color: #2b2b2b30;
}

.text-area__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.textarea {
  padding: 27px 26px;
  border-radius: 6px;
  border: 3px solid #5c5c5c;
  background-color: #00000010;
  color: #fff;
  max-width: 1084px;
  width: 100%;
  height: 145px;
  resize: none;
  font-size: 23px;
  margin-bottom: 46px;
}

.textarea::placeholder {
  color: #ffffff20;
  font-size: 23px;
}

.form-buttons__wrapper {
  display: flex;
  justify-content: space-between;
}

.form-btn {
  max-width: 500px;
  width: 100%;
}

.outlined-form-btn {
  max-width: 520px;
  width: 100%;
  color: #2b2b2b;
  background: inherit;
  border: 3px solid #5c5c5c;
}

.contact-form-btn {
  margin: 30px auto 0px auto;
}

.order-form__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.order-form__text {
  color: #2b2b2b;
}

.invalid-input {
  border-color: red;
}

.label-wrapper.invalid-input {
  border: 1px solid red;
}
@media (max-width: 1600px) {
  .popup-content {
    margin: -10vw auto;
  }
}

@media (max-width: 1500px) {
  .popup-content {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .popup-content {
    margin: -12vw auto;
  }
  .bot-form__wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bot-form__wrapper:nth-child(3) {
    grid-template-columns: repeat(2, 1fr);
  }
  .bot-form__wrapper:nth-child(4) {
    grid-template-columns: repeat(2, 1fr);
  }
  .mt1 {
    margin-top: 0;
  }
  .mt2 {
    grid-column: span 2;
    margin: 0 auto;
  }
  .form-buttons__wrapper {
    gap: 10px;
  }
  .form-btn {
    padding: 19px 25px;
    max-width: 450px;
  }
  .outlined-form-btn {
    padding: 19px 25px;
    max-width: 450px;
  }
  .form-label {
    margin-bottom: 0px;
  }
  .input-file {
    margin-top: 0px;
  }
  .input4 {
    margin-top: 0px;
  }
}

@media (max-width: 1050px) {
  /* .input-file {
    max-width: 425px;
  } */
}
@media (max-width: 1000px) {
  /* .input-file {
    max-width: 390px;
  } */
  .popup-content {
    margin: -14vw auto;
  }
}
@media (max-width: 950px) {
  .form-btn {
    font-size: 14px;
  }
  .outlined-form-btn {
    font-size: 14px;
  }
  .form {
    padding: 58px 20px 28px 20px;
  }
  .popup-form__title {
    font-size: 46px;
  }
}
@media (max-width: 900px) {
  .popup-content {
    margin: -16vw auto;
  }
}
@media (max-width: 800px) {
  .popup-content {
    margin: -18vw auto;
  }
}
@media (max-width: 700px) {
  .popup-content {
    margin: -20vw auto;
  }
}
@media (max-width: 600px) {
  .popup-content {
    margin: -24vw auto;
  }
  .form-title {
    font-size: 24px;
  }
  .popup-form__title {
    font-size: 40px;
  }
  .form-buttons__wrapper {
    flex-direction: column;
  }
  .form-btn {
    font-size: 12px;
  }
  .outlined-form-btn {
    font-size: 12px;
  }
  .form-input {
    font-size: 16px;
  }
  .form-input::placeholder {
    font-size: 16px;
  }
  .input-file {
    font-size: 16px;
  }
  .input-file::placeholder {
    font-size: 16px;
  }
  .textarea {
    font-size: 16px;
  }
  .textarea::placeholder {
    font-size: 16px;
  }
  .fieldset {
    padding: 20px 10px;
  }
  .form {
    padding: 25px 10px 5px 10px;
  }
}
@media (max-width: 500px) {
  .popup-content {
    margin: -28vw auto;
  }
  .input-file::after {
    width: 20px;
    height: 20px;
    right: 25px;
  }
  .popup-form__title {
    font-size: 24px;
  }
  .input-file {
    max-width: 100px;
  }
}
@media (max-width: 400px) {
  .popup-content {
    margin: -32vw auto;
  }
  .form-title {
    font-size: 16px;
  }
  .form-input {
    font-size: 14px;
  }
  .form-input::placeholder {
    font-size: 14px;
  }
  .input-file {
    font-size: 14px;
  }
  .input-file::placeholder {
    font-size: 14px;
  }
  .textarea {
    font-size: 14px;
    height: 100px;
  }
  .textarea::placeholder {
    font-size: 14px;
  }
  .form-label {
    font-size: 12px;
  }
  .input-file {
    max-width: 70px;
  }
}
@media (max-width: 370px) {
  .popup-content {
    margin: -36vw auto;
  }
  .form-input {
    font-size: 12px;
  }
  .form-input::placeholder {
    font-size: 12px;
  }
  .input-file {
    font-size: 12px;
  }
  .input-file::placeholder {
    font-size: 12px;
  }
  .textarea {
    font-size: 12px;
  }
  .textarea::placeholder {
    font-size: 12px;
  }
  .outlined-form-btn {
    padding: 19px 0px;
  }
  .input-file {
    max-width: 50px;
  }
}
