@media (max-width: 1650px) {
  .base-slider__wrapper {
    margin-right: 50px;
  }
  .base-info {
    max-width: 750px;
  }
}
@media (max-width: 1600px) {
  .typesSlider {
    padding: 0 60px;
  }
}
@media (max-width: 1500px) {
  .application-right-arrow {
    top: -400px;
  }
  .application-left-arrow {
    top: -302px;
  }
  .aluminum-right-arrow {
    top: -370px;
  }
  .aluminum-left-arrow {
    top: -270px;
  }
  .contacts-text {
    font-size: 55px;
  }
}
@media (max-width: 1450px) {
  .logo {
    max-width: 180px;
  }
  .header-contacts-tel {
    font-size: 15px;
  }
  .header-btn {
    padding: 19px 50px;
    font-size: 15px;
  }
  .header-container::after {
    width: 580px;
    height: 785px;
  }
}
@media (max-width: 1350px) {
  .contacts-text {
    font-size: 43px;
  }
  .base-info {
    max-width: 550px;
  }
}
@media (max-width: 1300px) {
  .nav-item {
    margin-right: 44px;
    font-size: 14px;
  }
  .nav-item {
    margin-right: 30px;
  }
  .header-contacts-tel {
    margin-right: 14px;
  }
  .boronProcessing-item__text {
    max-width: 360px;
    margin-bottom: 70px;
  }
  .reasons-item__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 1250px) {
  .application-right-arrow {
    top: -370px;
  }
  .application-left-arrow {
    top: -271px;
  }
  .aluminum-right-arrow {
    top: -370px;
  }
  .aluminum-left-arrow {
    top: -270px;
  }
  .application-slider__title {
    margin-left: 25px;
    bottom: 80px;
  }
  .technology-item__img {
    max-width: 500px;
  }
}
@media (max-width: 1200px) {
  .botonTypes-right-arrow {
    left: 95%;
  }
  .typesSlider-slider__title {
    font-size: 22px;
  }
  .typesSlider-slider__img {
    margin-top: 5%;
  }
  .boronProcessing-link img {
    max-width: 500px;
  }
  .reasons-top__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .top-item__one {
    margin-right: 0;
    grid-column: span 2;
  }
  .top-item__two {
    margin-top: 165px;
    margin-left: 146px;
    justify-self: self-end;
    grid-column: span 2;
  }
  .top-item__two {
    margin-right: 112px;
    margin-left: 0;
    margin-top: 140px;
  }
  .top-item__two::after {
    top: -150px;
    left: 380px;
  }
  .reasons-top__item {
    padding: 20px 24px;
  }
  .reasons-bot__inner {
    flex-direction: column;
  }
  .reasons-bot__item {
    margin-left: 50px;
    margin-bottom: 24px;
  }
  .reason-item__link {
    margin-top: 80px;
    display: block;
    margin: 80px auto;
  }
  .reasons-btn {
    justify-content: center;
    flex-direction: initial;
  }
  .contacts-wrapper {
    display: flex;
    flex-direction: column;
  }
  .contacts-text {
    font-size: 64px;
  }
  .contacts-form {
    margin: 0 auto;
  }
  .base-info {
    max-width: 450px;
  }
}
@media (max-width: 1150px) {
  .burger-menu__open {
    display: block;
  }
  .logo-link {
    z-index: 2;
  }
  .nav-list {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #161616;
    top: 100px;
    align-items: center;
    height: 300vw;
    width: 100vw;
    left: 0px;
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 60px;
    font-size: 30px;
  }
  .header-contacts {
    display: none;
    position: absolute;
    bottom: -550%;
    right: 27%;
  }
  .header-contacts-tel {
    margin-right: 100px;
  }
  .typesSlider-slider__title {
    font-size: 20px;
  }
  .typesSlider-title {
    font-size: 33px;
  }
  .boronProcessing-title {
    font-size: 33px;
  }
  .reasons-title {
    font-size: 33px;
  }
  .application-title {
    font-size: 33px;
  }
  .contacts-title {
    font-size: 80px;
  }
  .characteristics-title {
    font-size: 33px;
  }
  .base-title {
    font-size: 33px;
  }
  .application-left-arrow {
    top: -365px;
    left: 64px;
  }
  .application-right-arrow {
    top: -465px;
    right: 60px;
  }
  .aluminum-right-arrow {
    top: -370px;
  }
  .aluminum-left-arrow {
    top: -270px;
  }
  .technology-item__img {
    max-width: 400px;
  }
  .base-info {
    max-width: 900px;
  }
  .base-wrapper {
    display: none;
    visibility: hidden;
    flex-direction: column;
  }
  .base-slider-mobile {
    display: block !important;
  }
  .base-slider-mobile-left-arrow {
    display: block !important;
    top: -290px;
    left: -5px;
  }

  .base-slider-mobile-right-arrow {
    display: block !important;
    top: -320px;
    left: 99%;
  }
  .base-btn-mobile {
    display: flex;
  }
  .header-container {
    overflow-x: clip;
  }
  .header-container::after {
    width: 439px;
    height: 600px;
    top: 84px;
    right: -100px;
  }
  .header-container__silicon::after {
    width: 439px;
    height: 600px;
    top: -16px;
    right: 0px;
  }
  .topBoron-title {
    font-size: 37px;
  }
  .topBoron-title span {
    font-size: 90px;
  }
  .topBoron-title span + .up {
    font-size: 48px;
  }
  .topSilicon-title {
    font-size: 37px;
  }
  .topSilicon-title span {
    font-size: 90px;
  }
  .topSilicon-title span + .up {
    font-size: 48px;
  }
  .topAluminum-title {
    font-size: 37px;
  }
  .topAluminum-title span {
    font-size: 90px;
  }
  .topAluminum-title span + .up {
    font-size: 48px;
  }
  .table-title {
    font-size: 33px;
    margin-bottom: 22px;
  }
}
@media (max-width: 1050px) {
  .typesSlider-slider__img {
    margin-top: 15%;
  }
  .typesSlider-slider__title {
    font-size: 20px;
  }
  .typesSlider-slider__title {
    padding: 80px 50px 0 70px;
  }
  .typesSlider-slider__text {
    padding: 0 50px 80px 70px;
  }
  .boronProcessing-item__btn {
    padding: 19px 30px;
  }
}
@media (max-width: 1000px) {
  .boronProcessing-wrapper {
    display: flex;
    flex-direction: column;
  }
  .boronProcessing-link img {
    margin-bottom: 80px;
    max-width: 100%;
  }
  .boronProcessing-item__title {
    max-width: 100%;
  }
  .boronProcessing-item__text {
    max-width: 100%;
  }
  .technology-item__wrapper {
    flex-direction: column;
  }
  .technology-item__wrapper:nth-child(odd) {
    flex-direction: column;
  }
  .technology-item__img {
    max-width: 100%;
  }
  .characteristics-btn {
    position: static;
  }
}
@media (max-width: 950px) {
  .application-left-arrow {
    top: -300px;
  }
  .application-right-arrow {
    top: -400px;
  }
  .typesSlider-right-arrow {
    left: 94%;
  }
  .application-slider__list {
    display: none;
    visibility: hidden;
  }
  .application-left-arrow {
    top: -320px;
    left: 5px;
    background-image: url("../assets/mobile-left-arrow.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 30px;
  }
  .application-right-arrow {
    top: -350px;
    background-image: url("../assets/mobile-right-arrow.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 30px;
    right: 0;
  }
  .aluminum-right-arrow {
    top: -240px;
  }
  .aluminum-left-arrow {
    top: -210px;
  }
}
@media (max-width: 900px) {
  .typesSlider-slider__text {
    font-size: 13px;
  }
  .typesSlider-slider__img {
    margin-top: 23%;
  }
  .table {
    display: none;
    visibility: hidden;
  }
  .table-slider {
    display: block !important;
    visibility: visible;
  }
}
@media (max-width: 850px) {
  .footer-nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .contacts-text {
    font-size: 54px;
  }
}
@media (max-width: 800px) {
  .topBoron-text {
    font-size: 20px;
  }
  .topBoron-title {
    font-size: 30px;
    max-width: 470px;
  }
  .topBoron-title span + .up {
    font-size: 30px;
  }
  .topBoron-title span {
    font-size: 65px;
  }
  .topSilicon-text {
    font-size: 20px;
  }
  .topSilicon-title {
    font-size: 30px;
    max-width: 470px;
  }
  .topSilicon-title span + .up {
    font-size: 30px;
  }
  .topSilicon-title span {
    font-size: 65px;
  }
  .topAluminum-text {
    font-size: 20px;
  }
  .topAluminum-title {
    font-size: 30px;
    max-width: 470px;
  }
  .topAluminum-title span + .up {
    font-size: 30px;
  }
  .topAluminum-title span {
    font-size: 65px;
  }
  .typesSlider-slider__img {
    margin-top: 30%;
  }
  .typesSlider-title {
    font-size: 30px;
  }
  .boronProcessing-title {
    font-size: 30px;
  }
  .reasons-title {
    font-size: 30px;
  }
  .application-title {
    font-size: 30px;
  }
  .contacts-title {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .characteristics-title {
    font-size: 30px;
  }
  .technology-title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .table-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .base-title {
    font-size: 30px;
  }
}
@media (max-width: 750px) {
  .topBoron {
    margin-bottom: 80px;
  }
  .topSilicon {
    margin-bottom: 80px;
    margin-top: 160px;
  }
  .topAluminum {
    margin-bottom: 80px;
    margin-top: 160px;
  }
  .botonTypes-right-arrow {
    top: -350px;
    left: 91%;
  }
  .botonTypes-left-arrow {
    top: -251px;
  }
  .typesSlider {
    padding: 0px;
  }
  .typesSlider-mobile {
    display: block !important;
  }
  .typesSlider-slider {
    display: none !important;
  }
  .typesSlider-slider__text {
    padding: 0 80px 80px 80px;
  }
  .typesSlider-slider__img {
    margin-top: 0;
  }
  .typesSlider-left-arrow {
    display: none;
  }
  .typesSlider-right-arrow {
    display: none;
  }
  .typesSlider-mobile-left-arrow {
    display: block;
  }
  .typesSlider-mobile-right-arrow {
    display: block;
  }
  .boronProcessing {
    display: none;
  }
  .boronProcessingMobile {
    display: block;
    margin-bottom: 50px;
  }
  .boronProcessingMobile-title {
    font-size: 30px;
  }
  .characteristics-img {
    display: none;
  }
  .characteristics-img-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
  }
  .characteristics-btn {
    float: initial;
    margin: 0 auto;
    display: flex;
  }
  .application-left-arrow {
    top: -260px;
  }
  .application-right-arrow {
    top: -290px;
  }
  .aluminum-right-arrow {
    top: -240px;
  }
  .aluminum-left-arrow {
    top: -210px;
  }
  .footer-logo {
    margin-right: 80px;
    max-width: 180px;
  }
  .footer {
    padding: 60px 40px;
    justify-content: space-between;
  }
  .technology {
    display: none;
    visibility: hidden;
  }
  .header-container__aluminum::after {
    top: -15px;
  }
  .base {
    margin-bottom: 80px;
  }
  .base-slider-mobile-right-arrow {
    left: 98%;
  }
}
@media (max-width: 700px) {
  .header-container::after {
    width: 374px;
    height: 505px;
    top: 80px;
    right: -140px;
  }
  .header-container__silicon::after {
    width: 300px;
    height: 450px;
    top: -16px;
    right: 0px;
  }
  .topBoron-text {
    font-size: 18px;
  }
  .topSilicon-text {
    font-size: 18px;
  }
  .topAluminum-text {
    font-size: 18px;
  }
  .typesSlider-title {
    font-size: 26px;
  }
  .boronProcessingMobile-title {
    font-size: 26px;
  }
  .reasons-title {
    font-size: 26px;
  }
  .application-title {
    font-size: 26px;
  }
  .characteristics-title {
    font-size: 26px;
  }
  .technology-title {
    font-size: 26px;
  }
  .table-title {
    font-size: 26px;
  }
  .base-title {
    font-size: 26px;
  }
  .contacts-text {
    font-size: 44px;
  }
  .header-contacts {
    right: 17%;
  }
}
@media (max-width: 650px) {
  .button-uotlined {
    padding: 19px 45px;
  }
  .topBoron-btn {
    padding: 19px 45px;
  }
  .topSilicon-btn {
    padding: 19px 45px;
  }
  .topAluminum-btn {
    padding: 19px 45px;
  }
  .typesSlider-slider__img {
    margin-top: 50px;
  }
  .top-item__two {
    margin-right: 80px;
  }
  .top-item__two::after {
    left: 348px;
  }
  .footer-logo {
    margin-right: 40px;
    max-width: 150px;
  }
  .footer {
    padding: 60px 40px;
  }
}
@media (max-width: 600px) {
  .topBoron-title {
    font-size: 22px;
    max-width: 340px;
  }
  .topBoron-title span {
    font-size: 45px;
  }
  .topBoron-title span + .up {
    font-size: 22px;
  }
  .topBoron-text {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .topBoron-links {
    display: flex;
    flex-direction: column-reverse;
  }
  .topBoron-btn {
    margin-top: 15px;
    width: 100%;
  }
  .topSilicon-title {
    font-size: 22px;
    max-width: 340px;
  }
  .topSilicon-title span {
    font-size: 45px;
  }
  .topSilicon-title span + .up {
    font-size: 22px;
  }
  .topSilicon-text {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .topSilicon-links {
    display: flex;
    flex-direction: column-reverse;
  }
  .topSilicon-btn {
    margin-top: 15px;
    width: 100%;
  }
  .topAluminum-title {
    font-size: 22px;
    max-width: 340px;
  }
  .topAluminum-title span {
    font-size: 45px;
  }
  .topAluminum-title span + .up {
    font-size: 22px;
  }
  .topAluminum-text {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .topAluminum-links {
    display: flex;
    flex-direction: column-reverse;
  }
  .topAluminum-btn {
    margin-top: 15px;
    width: 100%;
  }
  .typesSlider-title {
    font-size: 24px;
  }
  .boronProcessingMobile-title {
    font-size: 24px;
  }
  .reasons-title {
    font-size: 24px;
  }
  .application-title {
    font-size: 24px;
  }
  .characteristics-title {
    font-size: 24px;
  }
  .technology-title {
    font-size: 24px;
  }
  .table-title {
    font-size: 24px;
  }
  .base-title {
    font-size: 24px;
  }
  .button-outlined {
    margin-left: 0;
    width: 100%;
  }
  .botonTypes-right-arrow {
    top: -350px;
  }
  .botonTypes-left-arrow {
    top: -251px;
  }
  .reasons {
    overflow-x: hidden;
  }
  .reasons-top__inner {
    margin-bottom: 40px;
  }
  .reasons-item__text {
    font-size: 14px;
  }
  .reasons-item__title {
    font-size: 20px;
  }
  .top-item__one {
    margin-bottom: -80px;
  }
  .top-item__two::after {
    left: 245px;
  }
  .top-item__one::after {
    background-image: url("../assets/boron-nitride/1-mobile.png");
    width: 135px;
    height: 213px;
    left: -70px;
  }
  .top-item__two::after {
    background-image: url("../assets/boron-nitride/2-mobile.png");
    width: 128px;
    height: 213px;
    left: 350px;
    top: -80px;
  }
  .reasons-bot__item::after {
    background-image: url("../assets/boron-nitride/3-mobile.png");
    width: 196px;
    height: 213px;
    top: -40px;
    left: -62px;
  }
  .application-left-arrow {
    top: -260px;
  }
  .application-right-arrow {
    top: -290px;
  }
  .aluminum-right-arrow {
    top: -240px;
  }
  .aluminum-left-arrow {
    top: -210px;
  }
  .contacts-text {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .technology-item__btn {
    padding: 19px 37px;
  }
  .boronProcessingMobile-title {
    font-size: 30px;
  }
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer-nav__link {
    font-size: 12px;
  }
  .footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: end;
    text-align: right;
  }
  .footer-logo {
    margin-right: 0px;
    max-width: 150px;
    margin-bottom: 17px;
  }
  .footer-link__wrapper {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 12px;
    margin-bottom: 8px;
  }
  .footer-link__social {
    display: block;
  }
  .footer-tel {
    display: block;
    font-size: 12px;
    color: #8a8a8a;
  }
  .footer-text {
    display: block;
    font-size: 12px;
    color: #8a8a8a;
  }
  .header-container__aluminum::after {
    top: 10px;
  }
}
@media (max-width: 550px) {
  .botonTypes-right-arrow {
    width: 80px;
    height: 80px;
    background-size: contain;
  }
  .botonTypes-left-arrow {
    width: 80px;
    height: 80px;
    background-size: contain;
    top: -270px;
  }
  .header-contacts {
    right: 9%;
  }
}
@media (max-width: 500px) {
  .header-contacts-tel {
    margin-right: 50px;
  }
  .header-container__silicon::after {
    width: 250px;
    height: 400px;
    top: -25px;
    right: 0px;
  }
  .reasons-item__text {
    font-size: 12px;
  }
  .reasons-item__title {
    font-size: 16px;
  }
  .reasons-title {
    margin-bottom: 85px;
  }
  .top-item__one {
    margin-left: 50px;
  }
  .top-item__two::after {
    left: 285px;
  }
  .contacts-form {
    padding: 40px 40px 40px 40px;
    background-color: #365edc;
    border-radius: 14px;
    max-width: 615px;
    max-height: none;
  }
  .contacts-form-accept {
    margin-bottom: 20px;
    text-align: left;
    font-size: 12px;
  }
  .contacts-text {
    font-size: 28px;
  }
  .contacts-form__btn {
    font-size: 16px;
    padding: 19px 19px;
    margin-right: 23px;
  }
  .footer-nav__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .technology-item__btn {
    font-size: 14px;
    padding: 19px 10px;
  }
  .technology {
    padding: 81px 20px 37px 20px;
  }
  .characteristics-title {
    font-size: 24px;
  }
  .boronProcessingMobile-left-arrow {
    top: -290px;
  }
  .boronProcessingMobile-right-arrow {
    top: -320px;
  }
}
@media (max-width: 450px) {
  .header-container::after {
    width: 332px;
    height: 454px;
    top: 22px;
    right: -140px;
  }
  .header-container__silicon::after {
    width: 250px;
    height: 400px;
    top: -25px;
    right: 0px;
  }
  .topBoron {
    margin-top: 132px;
    margin-bottom: 80px;
  }
  .topBoron-title {
    font-size: 14px;
  }
  .topBoron-title span {
    font-size: 48px;
  }
  .topBoron-title span + .up {
    font-size: 14px;
  }
  .topBoron-text {
    font-size: 12px;
  }
  .topSilicon {
    margin-top: 132px;
    margin-bottom: 80px;
  }
  .topSilicon-title {
    font-size: 14px;
  }
  .topSilicon-title span {
    font-size: 48px;
  }
  .topSilicon-title span + .up {
    font-size: 14px;
  }
  .topSilicon-text {
    font-size: 12px;
  }
  .topAluminum {
    margin-top: 132px;
    margin-bottom: 80px;
  }
  .topAluminum-title {
    font-size: 14px;
  }
  .topAluminum-title span {
    font-size: 48px;
  }
  .topAluminum-title span + .up {
    font-size: 14px;
  }
  .topAluminum-text {
    font-size: 12px;
  }
  .header-contacts {
    right: 32%;
    flex-direction: column;
  }
  .header-contacts-tel {
    margin-right: 0px;
    text-align: center;
  }
  .typesSlider {
    margin-bottom: 80px;
  }
  .typesSlider-slider__title {
    font-size: 15px;
  }
  .typesSlider-slider__text {
    padding: 0 60px 80px 60px;
  }
  .botonTypes-right-arrow {
    top: 0px;
    left: 78%;
  }
  .botonTypes-left-arrow {
    top: 80px;
    left: 0px;
  }
  .typesSlider {
    padding: 0;
  }
  .application-title {
    margin-bottom: 14px;
  }
  .contacts-title {
    font-size: 50px;
    margin-bottom: 0;
  }
  .boronProcessingMobile-title {
    font-size: 24px;
  }
  .boronProcessingMobile-item__title {
    font-size: 18px;
  }
  .boronProcessingMobile-item__text {
    font-size: 12px;
  }
  .typesSlider-mobile-right-arrow {
    left: 97%;
  }
  .boronProcessingMobile-right-arrow {
    left: 97%;
  }
  .top-item__two::after {
    left: 250px;
  }
  .footer {
    padding: 60px 12px;
  }
  .footer-logo {
    max-width: 100px;
  }
  .base-slider-mobile__text {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .header-container__silicon::after {
    width: 250px;
    height: 350px;
    top: -18px;
    right: 0px;
  }
  .button-outlined {
    padding: 19px 20px;
  }
  .application-left-arrow {
    top: -200px;
  }
  .application-right-arrow {
    top: -230px;
  }
  .application-left-arrow {
    top: -200px;
  }
  .application-right-arrow {
    top: -230px;
  }
  .aluminum-right-arrow {
    top: -180px;
  }
  .aluminum-left-arrow {
    top: -150px;
  }
  .application-slider__title {
    margin-left: 20px;
    bottom: 60px;
    font-size: 20px;
  }
  .contacts-form-text {
    font-size: 13px;
  }
  .contacts-form__input {
    background-color: #4371ff10;
    padding: 17px 20px;
    max-width: 100%;
  }
  .contacts-text {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .contacts-form {
    padding: 40px 20px;
  }
  .boronProcessingMobile-left-arrow {
    top: -220px;
  }
  .boronProcessingMobile-right-arrow {
    top: -250px;
    left: 96%;
  }
  .typesSlider-mobile-right-arrow {
    left: 96%;
  }
  .characteristics-img-mobile:nth-child(2) {
    right: -8px;
  }
  .characteristics-img-mobile {
    max-width: 325px;
  }
  .base-slider-mobile-right-arrow {
    top: -350px;
  }
  .base-slider-mobile-left-arrow {
    top: -320px;
  }
}
@media (max-width: 370px) {
  .header-contacts {
    right: 26%;
    flex-direction: column;
  }
  .typesSlider {
    padding: 0 10px;
  }
  .botonTypes-right-arrow {
    left: 74%;
  }
  .reasons-item__text {
    font-size: 13px;
  }
  .top-item__two::after {
    left: 200px;
    top: -50px;
  }
  .top-item__one {
    padding: 40px 20px;
    margin-left: 35px;
  }
  .top-item__two {
    margin-right: 45px;
    padding: 40px 20px;
  }
  .reasons-bot__item {
    margin-left: 35px;
    margin-bottom: 24px;
    padding: 40px 20px;
  }
  .contacts-form {
    width: 100%;
  }
  .contacts-form__btn {
    padding: 4px 16px;
  }
  .characteristics-img-mobile:nth-child(2) {
    right: -5px;
  }
  .characteristics-img-mobile {
    max-width: 310px;
  }
  .footer-tel {
    font-size: 8px;
  }
  .footer-text {
    font-size: 8px;
  }
}
