@media (max-width: 1650px) {
  .base-slider__wrapper {
    margin-right: 50px;
  }
  .base-info {
    max-width: 750px;
  }
  .application-right-arrow {
    top: -380px;
  }
  .application-left-arrow {
    top: -280px;
  }
  .characteristics-img {
    max-width: 800px;
  }
  .c-item1 {
    top: 130px;
    left: -6px;
  }
  .c-item2 {
    top: 361px;
    left: 14px;
  }
  .c-item3 {
    top: 551px;
    left: 87px;
  }
  .c-item4 {
    top: 760px;
    left: 430px;
  }
  .c-item5 {
    top: -14px;
    right: 167px;
  }
  .c-item6 {
    top: 245px;
    right: 114px;
  }
  .c-item7 {
    top: 580px;
    right: 140px;
  }
}
@media (max-width: 1600px) {
  .typesSlider {
    padding: 0 60px;
  }
}
@media (max-width: 1500px) {
  .application-slider__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .application-slider__list-item {
    font-size: 20px;
  }
  .application-right-arrow {
    top: -350px;
  }
  .application-left-arrow {
    top: -250px;
  }
  .aluminum-right-arrow {
    top: -400px;
  }
  .aluminum-left-arrow {
    top: -300px;
  }
  .contacts-text {
    font-size: 55px;
  }
  .characteristics-item {
    max-width: 273px;
  }
  .characteristics-item__text {
    font-size: 12px;
  }
  .characteristics-img {
    max-width: 33vw;
  }
  .c-item1 {
    top: 68px;
    left: 14.5vw;
  }
  .c-item2 {
    top: 216px;
    left: 15.3vw;
  }
  .c-item3 {
    top: 331px;
    left: 18.5vw;
  }
  .c-item4 {
    top: 461px;
    left: 32.4vw;
  }
  .c-item5 {
    top: -22px;
    right: 21.7vw;
  }
  .c-item6 {
    top: 138px;
    right: 19.5vw;
  }
  .c-item7 {
    top: 337px;
    right: 17.9vw;
  }
  .characteristics-btn {
    bottom: 0px;
    right: 160px;
  }
}
@media (max-width: 1450px) {
  .logo {
    max-width: 180px;
  }
  .header-contacts-tel {
    font-size: 15px;
  }
  .header-btn {
    padding: 19px 30px;
    font-size: 15px;
  }
  .header-container::after {
    width: 580px;
    height: 785px;
  }
  .characteristics-btn {
    bottom: 0;
  }
  .c-item3 {
    top: 331px;
    left: 18.1vw;
  }
  .c-item5 {
    top: -22px;
    right: 21.3vw;
  }
  .c-item6 {
    top: 138px;
    right: 19.2vw;
  }
}
@media (max-width: 1400px) {
  .typesSlider-left-arrow {
    top: -265px;
  }
  .typesSlider-right-arrow {
    top: -365px;
  }
  .c-item1 {
    top: 68px;
    left: 13.5vw;
  }
  .c-item2 {
    top: 198px;
    left: 14.3vw;
  }
  .c-item3 {
    top: 303px;
    left: 17.6vw;
  }
  .c-item4 {
    top: 425px;
    left: 31.4vw;
  }
  .c-item5 {
    top: -22px;
    right: 20.7vw;
  }
  .c-item6 {
    top: 123px;
    right: 18.6vw;
  }
  .c-item7 {
    top: 320px;
    right: 19.9vw;
  }
  .characteristics-btn {
    bottom: 0px;
    right: 160px;
  }
}
@media (max-width: 1350px) {
  .contacts-text {
    font-size: 43px;
  }
  .base-info {
    max-width: 550px;
  }
}
@media (max-width: 1300px) {
  .typesSlider-right-arrow {
    top: -400px;
  }
  .typesSlider-left-arrow {
    top: -300px;
  }
  .application-slider__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .application-slider__list-item {
    font-size: 18px;
  }
  .nav-item {
    margin-right: 44px;
    font-size: 14px;
  }
  .nav-item {
    margin-right: 30px;
  }
  .header-contacts-tel {
    margin-right: 14px;
  }
  .boronProcessing-item__text {
    max-width: 360px;
    margin-bottom: 70px;
  }
  .reasons-item__title {
    margin-bottom: 20px;
  }
  .c-item1 {
    top: 55px;
    left: 11.9vw;
  }
  .c-item2 {
    top: 180px;
    left: 12.6vw;
  }
  .c-item3 {
    top: 279px;
    left: 15.8vw;
  }
  .c-item4 {
    top: 397px;
    left: 29.6vw;
  }
  .c-item5 {
    top: -16px;
    right: 19vw;
  }
  .c-item6 {
    top: 113px;
    right: 16.9vw;
  }
  .c-item7 {
    top: 293px;
    right: 18.9vw;
  }
}
@media (max-width: 1250px) {
  .typesSlider-right-arrow {
    top: -413px;
  }
  .typesSlider-left-arrow {
    top: -313px;
  }
  .siliconTypes-left-arrow {
    top: -300px;
  }
  .siliconTypes-right-arrow {
    top: -400px;
  }
  .application-right-arrow {
    top: -320px;
  }
  .application-left-arrow {
    top: -220px;
  }
  .aluminum-right-arrow {
    top: -400px;
  }
  .aluminum-left-arrow {
    top: -300px;
  }
  .application-slider__title {
    margin-left: 25px;
    bottom: 80px;
  }
  .technology-item__img {
    max-width: 500px;
  }
}
@media (max-width: 1225px) {
  .typesSlider-right-arrow {
    top: -475px;
  }
  .typesSlider-left-arrow {
    top: -375px;
  }
  .siliconTypes-right-arrow {
    top: -400px;
  }
  .siliconTypes-left-arrow {
    top: -300px;
  }
}
@media (max-width: 1200px) {
  .botonTypes-right-arrow {
    left: 95%;
  }
  .typesSlider-slider__title {
    font-size: 22px;
  }
  .boronProcessing-link img {
    max-width: 500px;
  }
  .reasons-top__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .top-item__one {
    margin-right: 0;
    grid-column: span 2;
  }
  .top-item__two {
    margin-top: 165px;
    margin-left: 146px;
    justify-self: self-end;
    grid-column: span 2;
  }
  .top-item__two {
    margin-right: 180px;
    margin-left: 0;
    margin-top: 140px;
  }
  .top-item__two::after {
    top: -320px;
    left: 340px;
  }
  .reasons-top__item {
    padding: 20px 24px;
  }
  .reasons-bot__inner {
    flex-direction: column;
  }
  .reasons-bot__item {
    margin-bottom: 44px;
  }
  .reason-item__link {
    margin-top: 80px;
    display: block;
    margin: 80px auto;
  }
  .reasons-btn {
    justify-content: center;
    flex-direction: initial;
  }
  .contacts-wrapper {
    display: flex;
    flex-direction: column;
  }
  .contacts-text {
    font-size: 64px;
  }
  .contacts-form {
    margin: 0 auto;
  }
  .base-info {
    max-width: 450px;
  }
  .characteristics-btn {
    bottom: -39px;
    right: 50px;
    padding: 19px 32px;
  }
  .c-item1 {
    top: 46px;
    left: 9.9vw;
  }
  .c-item2 {
    top: 166px;
    left: 10.6vw;
  }
  .c-item3 {
    top: 262px;
    left: 14vw;
  }
  .c-item4 {
    top: 378px;
    left: 27.6vw;
  }
  .c-item5 {
    top: -16px;
    right: 17.3vw;
  }
  .c-item6 {
    top: 104px;
    right: 14.9vw;
  }
  .c-item7 {
    top: 280px;
    right: 17.9vw;
  }
}
@media (max-width: 1150px) {
  .burger-menu__open {
    display: block;
  }
  .logo-link {
    z-index: 2;
  }
  .nav-list {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #161616;
    top: 100px;
    align-items: center;
    height: 300vw;
    width: 100vw;
    left: 0px;
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 60px;
    font-size: 30px;
  }
  .header-contacts {
    display: none;
    position: absolute;
    bottom: -550%;
    right: 39vw;
    flex-direction: column;
  }
  .header-contacts-tel {
    left: 4vw;
    position: relative;
  }
  .typesSlider-slider__title {
    font-size: 20px;
  }
  .typesSlider-title {
    font-size: 33px;
  }
  .boronProcessing-title {
    font-size: 33px;
  }
  .reasons-title {
    font-size: 33px;
  }
  .application-title {
    font-size: 33px;
  }
  .contacts-title {
    font-size: 80px;
  }
  .characteristics-title {
    font-size: 33px;
  }
  .base-title {
    font-size: 33px;
  }
  .features-title {
    font-size: 33px;
  }
  .application-info__item {
    font-size: 22px;
  }
  .application-left-arrow {
    top: -300px;
    left: 30px;
  }
  .application-right-arrow {
    top: -400px;
    right: 30px;
  }
  .technology-item__img {
    max-width: 400px;
  }
  .base-info {
    max-width: 900px;
  }
  .base-wrapper {
    display: none;
    visibility: hidden;
    flex-direction: column;
  }
  .base-slider-mobile {
    display: block !important;
  }
  .base-slider-mobile-left-arrow {
    display: block !important;
    top: -220px;
    left: -5px;
  }

  .base-slider-mobile-right-arrow {
    display: block !important;
    top: -250px;
    left: 99%;
  }
  .base-btn-mobile {
    display: flex;
  }
  .header-container {
    overflow-x: clip;
  }
  .header-container::after {
    width: 439px;
    height: 600px;
    top: 84px;
    right: -100px;
  }
  .topSilicon-bg {
    width: 439px;
    height: 600px;
    top: 20%;
    right: 0px;
  }
  .topAluminum-bg {
    width: 439px;
    height: 600px;
    right: 0px;
  }
  .topBoron-title {
    font-size: 37px;
  }
  .topBoron-title span {
    font-size: 90px;
  }
  .topBoron-title span + .up {
    font-size: 48px;
  }
  .topSilicon-title {
    font-size: 37px;
  }
  .topSilicon-title span {
    font-size: 90px;
  }
  .topSilicon-title span + .up {
    font-size: 48px;
  }
  .topAluminum-title {
    font-size: 37px;
  }
  .topAluminum-title span {
    font-size: 90px;
  }
  .topAluminum-title span + .up {
    font-size: 48px;
  }
  .table-title {
    font-size: 33px;
    margin-bottom: 22px;
  }
  .features-item {
    font-size: 22px;
  }
  .c-item1 {
    top: 41px;
    left: 9.1vw;
  }
  .c-item2 {
    top: 149px;
    left: 9.8vw;
  }
  .c-item3 {
    top: 243px;
    left: 13.2vw;
  }
  .c-item4 {
    top: 356px;
    left: 26.9vw;
  }
  .c-item5 {
    top: -25px;
    right: 16.3vw;
  }
  .c-item6 {
    top: 94px;
    right: 14.1vw;
  }
  .c-item7 {
    top: 268px;
    right: 15.9vw;
  }
}
@media (max-width: 1100px) {
  .typesSlider-right-arrow {
    top: -530px;
  }
  .typesSlider-left-arrow {
    top: -430px;
  }
  .siliconTypes-left-arrow {
    top: -350px;
  }
  .siliconTypes-right-arrow {
    top: -450px;
  }
  .characteristics-img {
    left: -100px;
  }
  .c-item1 {
    top: 41px;
    left: 8.1vw;
  }
  .c-item2 {
    top: 149px;
    left: 8.8vw;
  }
  .c-item3 {
    top: 234px;
    left: 12.2vw;
  }
  .c-item4 {
    top: 344px;
    left: 25.9vw;
  }
  .c-item5 {
    top: -25px;
    right: 15.3vw;
  }
  .c-item6 {
    top: 94px;
    right: 13.1vw;
  }
  .c-item7 {
    top: 256px;
    right: 14.9vw;
  }
}
@media (max-width: 1050px) {
  .typesSlider-right-arrow {
    top: -430px;
  }
  .typesSlider-left-arrow {
    top: -330px;
  }
  .typesSlider-slider__title {
    font-size: 20px;
  }
  .typesSlider-slider__title {
    padding: 80px 50px 0 70px;
  }
  .typesSlider-slider__text {
    padding: 0 50px 80px 70px;
  }
  .boronProcessing-item__btn {
    padding: 19px 30px;
  }
  .c-item1 {
    top: 41px;
    left: 7.1vw;
  }
  .c-item2 {
    top: 133px;
    left: 7.8vw;
  }
  .c-item3 {
    top: 221px;
    left: 11.2vw;
  }
  .c-item4 {
    top: 332px;
    left: 24.9vw;
  }
  .c-item5 {
    top: -25px;
    right: 14.3vw;
  }
  .c-item6 {
    top: 76px;
    right: 12.1vw;
  }
  .c-item7 {
    top: 244px;
    right: 12.9vw;
  }
}
@media (max-width: 1030px) {
  .typesSlider-right-arrow {
    top: -475px;
  }
  .typesSlider-left-arrow {
    top: -375px;
  }
  .siliconTypes-left-arrow {
    top: -300px;
  }
  .siliconTypes-right-arrow {
    top: -400px;
  }
}
@media (max-width: 1000px) {
  .typesSlider-right-arrow {
    top: -505px;
  }
  .typesSlider-left-arrow {
    top: -405px;
  }
  .boronProcessing-wrapper {
    display: flex;
    flex-direction: column;
  }
  .boronProcessing-link img {
    margin-bottom: 80px;
    max-width: 100%;
  }
  .boronProcessing-item__title {
    max-width: 100%;
  }
  .boronProcessing-item__text {
    max-width: 100%;
  }
  .technology-item__wrapper {
    flex-direction: column;
  }
  .technology-item__wrapper:nth-child(odd) {
    flex-direction: column;
  }
  .technology-item__img {
    max-width: 100%;
  }
  .characteristics {
    margin-bottom: 60px;
  }
  .characteristics-btn {
    bottom: 150px;
  }
  .characteristics {
    display: none;
    visibility: hidden;
  }
  .characteristics-mobile {
    display: block;
    visibility: visible;
    margin-bottom: 80px;
  }
  .characteristics-title {
    padding: 0 10px;
  }
  .characteristics-img {
    display: none;
  }
  .characteristics-img-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
  }
  .characteristics-btn {
    float: initial;
    margin: 0 auto;
    display: flex;
    position: static;
  }
  .characteristics-item {
    max-width: 361px;
  }
  .characteristics-item__text {
    font-size: 16px;
  }
  .c-item1 {
    top: 0px;
    left: 93px;
  }
  .c-item2 {
    top: 101px;
    left: 93px;
  }
  .c-item3 {
    top: 200px;
    left: 155px;
    text-align: right;
    max-width: 298px;
  }
  .c-item4 {
    top: 302px;
    left: 97px;
    z-index: 1;
    max-width: 356px;
  }
  .c-item5 {
    top: 538px;
    right: 95px;
  }
  .c-item6 {
    top: 680px;
    right: 97px;
    z-index: 1;
  }
  .c-item7 {
    top: 785px;
    right: 95px;
  }
  .characteristics-btn {
    padding: 19px 77px;
  }
}
@media (max-width: 950px) {
  .application-left-arrow {
    top: -300px;
  }
  .application-right-arrow {
    top: -400px;
  }
  .typesSlider-right-arrow {
    top: -575px;
    left: 94%;
  }
  .typesSlider-left-arrow {
    top: -475px;
  }
  .siliconTypes-right-arrow {
    top: -480px;
  }
  .siliconTypes-left-arrow {
    top: -380px;
  }
  .application-slider__info {
    padding: 200px 40px 80px 40px;
  }
  .application-left-arrow {
    top: -220px;
    left: 5px;
    background-image: url("../assets/mobile-left-arrow.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 30px;
  }
  .application-right-arrow {
    top: -250px;
    background-image: url("../assets/mobile-right-arrow.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 30px;
    right: 0;
  }
  .inactive-slide {
    opacity: 0.5;
  }

  .swiper-slide-active {
    opacity: 1;
  }
  .aluminum-right-arrow {
    top: -300px;
  }
  .aluminum-left-arrow {
    top: -270px;
  }
}
@media (max-width: 900px) {
  .header-contacts {
    right: 37vw;
  }
  .header-contacts-tel {
    left: 4vw;
  }
  .reasons-bot__item {
    margin-bottom: 44px;
    margin-left: 150px;
  }
  .typesSlider {
    margin-bottom: 0;
  }
  .typesSlider-slider__text {
    font-size: 13px;
  }
  .typesSlider-right-arrow {
    top: -475px;
  }
  .typesSlider-left-arrow {
    top: -375px;
  }
  .siliconTypes-right-arrow {
    top: -420px;
  }
  .siliconTypes-left-arrow {
    top: -320px;
  }
  .table {
    display: none;
    visibility: hidden;
  }
  .table-slider {
    display: block !important;
    visibility: visible;
  }
}
@media (max-width: 850px) {
  .typesSlider-right-arrow {
    top: -515px;
  }
  .typesSlider-left-arrow {
    top: -415px;
  }
  .siliconTypes-right-arrow {
    top: -420px;
  }
  .siliconTypes-left-arrow {
    top: -320px;
  }
  .footer-nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .contacts-text {
    font-size: 54px;
  }
}
@media (max-width: 800px) {
  .topBoron-text {
    font-size: 20px;
  }
  .topBoron-title {
    font-size: 30px;
    max-width: 470px;
  }
  .topBoron-title span + .up {
    font-size: 30px;
  }
  .topBoron-title span {
    font-size: 65px;
  }
  .topSilicon-text {
    font-size: 20px;
  }
  .topSilicon-title {
    font-size: 30px;
    max-width: 470px;
  }
  .topSilicon-title span + .up {
    font-size: 30px;
  }
  .topSilicon-title span {
    font-size: 65px;
  }
  .topAluminum-text {
    font-size: 20px;
  }
  .topAluminum-title {
    font-size: 30px;
    max-width: 470px;
  }
  .topAluminum-title span + .up {
    font-size: 30px;
  }
  .topAluminum-title span {
    font-size: 65px;
  }
  .typesSlider-title {
    font-size: 30px;
  }
  .typesSlider-right-arrow {
    top: -550px;
  }
  .typesSlider-left-arrow {
    top: -450px;
  }
  .siliconTypes-right-arrow {
    top: -480px;
  }
  .siliconTypes-left-arrow {
    top: -380px;
  }
  .boronProcessing-title {
    font-size: 30px;
  }
  .reasons-title {
    font-size: 30px;
  }
  .application-title {
    font-size: 30px;
  }
  .application-info__item {
    font-size: 20px;
  }
  .contacts-title {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .characteristics-title {
    font-size: 30px;
  }
  .technology-title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .table-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .base-title {
    font-size: 30px;
  }
  .features-title {
    font-size: 30px;
  }
  .features-item {
    font-size: 20px;
  }
  .application-slider__info {
    padding: 170px 40px 80px 40px;
  }
}
@media (max-width: 750px) {
  .header-contacts {
    right: 35vw;
  }
  .header-contacts-tel {
    left: 5vw;
  }
  .topBoron {
    margin-bottom: 80px;
  }
  .topSilicon {
    margin-bottom: 80px;
    margin-top: 160px;
  }
  .topAluminum {
    margin-bottom: 80px;
    margin-top: 160px;
  }
  .botonTypes-right-arrow {
    top: -350px;
    left: 91%;
  }
  .botonTypes-left-arrow {
    top: -251px;
  }
  .typesSlider {
    padding: 0px;
    margin-bottom: 0;
  }
  .typesSlider-mobile {
    display: block !important;
  }
  .typesSlider-slider {
    display: none !important;
  }
  .typesSlider-slider__text {
    padding: 0 80px 80px 80px;
  }
  .typesSlider-slider__img {
    margin-top: 0;
  }
  .typesSlider-left-arrow {
    display: none;
  }
  .typesSlider-right-arrow {
    display: none;
  }
  .typesSlider-mobile-left-arrow {
    display: block;
    top: -320px;
  }
  .typesSlider-mobile-right-arrow {
    display: block;
    top: -350px;
  }
  .siliconTypes-mobile-right-arrow {
    top: -270px;
  }
  .siliconTypes-mobile-left-arrow {
    top: -240px;
  }
  .boronProcessing {
    display: none;
  }
  .boronProcessingMobile {
    display: block;
    margin-bottom: 50px;
  }
  .boronProcessingMobile-title {
    font-size: 30px;
  }
  .application-left-arrow {
    top: -190px;
  }
  .application-right-arrow {
    top: -220px;
  }
  .aluminum-right-arrow {
    top: -300px;
  }
  .aluminum-left-arrow {
    top: -270px;
  }
  .footer-logo {
    margin-right: 80px;
    max-width: 180px;
  }
  .footer {
    padding: 60px 40px;
    justify-content: space-between;
  }
  .technology {
    display: none;
    visibility: hidden;
  }
  .header-container__aluminum::after {
    top: -15px;
  }
  .base {
    margin-bottom: 80px;
  }
  .base-slider-mobile-right-arrow {
    left: 98%;
  }
}
@media (max-width: 700px) {
  .header-container::after {
    width: 374px;
    height: 505px;
    top: 80px;
    right: -140px;
  }
  .topSilicon-bg {
    width: 300px;
    height: 450px;
    top: -16px;
    right: 0px;
  }
  .topAluminum-bg {
    width: 300px;
    height: 450px;
    top: 0;
  }
  .topBoron-text {
    font-size: 18px;
  }
  .topSilicon-text {
    font-size: 18px;
  }
  .topAluminum-text {
    font-size: 18px;
  }
  .typesSlider-title {
    font-size: 26px;
  }
  .boronProcessingMobile-title {
    font-size: 26px;
  }
  .reasons-title {
    font-size: 26px;
  }
  .application-title {
    font-size: 26px;
  }
  .application-info__item {
    font-size: 18px;
  }
  .characteristics-title {
    font-size: 26px;
  }
  .technology-title {
    font-size: 26px;
  }
  .table-title {
    font-size: 26px;
  }
  .base-title {
    font-size: 26px;
  }
  .features-title {
    font-size: 26px;
  }
  .features-item {
    font-size: 18px;
  }
  .contacts-text {
    font-size: 44px;
  }
  .application-info__item {
    font-size: 20px;
  }
  .application-slider__info {
    margin-right: 30px;
  }
  .application-right-arrow {
    top: -260px;
  }
  .application-left-arrow {
    top: -230px;
  }
  .aluminum-right-arrow {
    top: -300px;
  }
  .aluminum-left-arrow {
    top: -270px;
  }
}
@media (max-width: 650px) {
  .header-contacts {
    right: 33vw;
  }
  .header-contacts-tel {
    left: 6vw;
  }
  .button-uotlined {
    padding: 19px 45px;
  }
  .topBoron-btn {
    padding: 19px 45px;
  }
  .topSilicon-btn {
    padding: 19px 45px;
  }
  .topAluminum-btn {
    padding: 19px 45px;
  }
  .typesSlider-slider__img {
    margin-top: 50px;
  }
  .top-item__two {
    margin-right: 122px;
  }
  .top-item__two::after {
    left: 240px;
  }
  .footer-logo {
    margin-right: 40px;
    max-width: 150px;
  }
  .footer {
    padding: 60px 40px;
  }
}
@media (max-width: 620px) {
  .typesSlider-mobile-left-arrow {
    top: -340px;
  }
  .typesSlider-mobile-right-arrow {
    top: -370px;
  }
  .siliconTypes-mobile-right-arrow {
    top: -318px;
  }
  .siliconTypes-mobile-left-arrow {
    top: -288px;
  }
}
@media (max-width: 600px) {
  .topBoron-title {
    font-size: 22px;
    max-width: 340px;
  }
  .topBoron-title span {
    font-size: 45px;
  }
  .topBoron-title span + .up {
    font-size: 22px;
  }
  .topBoron-text {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .topBoron-links {
    display: flex;
    flex-direction: column-reverse;
  }
  .topBoron-btn {
    margin-top: 15px;
    width: 100%;
  }
  .topSilicon-title {
    font-size: 22px;
    max-width: 340px;
  }
  .topSilicon-title span {
    font-size: 45px;
  }
  .topSilicon-title span + .up {
    font-size: 22px;
  }
  .topSilicon-text {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .topSilicon-links {
    display: flex;
    flex-direction: column-reverse;
  }
  .topSilicon-btn {
    margin-top: 15px;
    width: 100%;
  }
  .topAluminum-title {
    font-size: 22px;
    max-width: 340px;
  }
  .topAluminum-title span {
    font-size: 45px;
  }
  .topAluminum-title span + .up {
    font-size: 22px;
  }
  .topAluminum-text {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .topAluminum-links {
    display: flex;
    flex-direction: column-reverse;
  }
  .topAluminum-btn {
    margin-top: 15px;
    width: 100%;
  }
  .typesSlider-title {
    font-size: 24px;
  }
  .boronProcessingMobile-title {
    font-size: 24px;
  }
  .reasons-title {
    font-size: 24px;
  }
  .application-title {
    font-size: 24px;
  }
  .application-info__item {
    font-size: 16px;
  }
  .characteristics-title {
    font-size: 24px;
  }
  .technology-title {
    font-size: 24px;
  }
  .table-title {
    font-size: 24px;
  }
  .base-title {
    font-size: 24px;
  }
  .features-title {
    font-size: 24px;
  }
  .features-item {
    font-size: 16px;
    font-weight: 400;
  }
  .button-outlined {
    margin-left: 0;
    width: 100%;
  }
  .botonTypes-right-arrow {
    top: -350px;
  }
  .botonTypes-left-arrow {
    top: -251px;
  }
  .reasons {
    overflow-x: hidden;
  }
  .reasons-top__inner {
    margin-bottom: 40px;
  }
  .reasons-item__text {
    font-size: 14px;
  }
  .reasons-item__title {
    font-size: 20px;
  }
  .top-item__one {
    margin-bottom: -80px;
  }
  .top-item__two::after {
    left: 245px;
  }
  .top-item__one::after {
    font-size: 300px;
    left: -80px;
    top: -144px;
  }
  .top-item__two::after {
    font-size: 300px;
    left: 377px;
    top: -144px;
    background: linear-gradient(279deg, #161616 20.77%, #0f70b7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .reasons-bot__item::after {
    font-size: 300px;
    top: -108px;
    left: -120px;
  }
  .application-left-arrow {
    top: -185px;
  }
  .application-right-arrow {
    top: -215px;
  }
  .aluminum-right-arrow {
    top: -300px;
  }
  .aluminum-left-arrow {
    top: -270px;
  }
  .contacts-text {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .technology-item__btn {
    padding: 19px 37px;
  }
  .boronProcessingMobile-title {
    font-size: 30px;
  }
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer-nav__link {
    font-size: 12px;
  }
  .footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: end;
    text-align: right;
  }
  .footer-logo {
    margin-right: 0px;
    max-width: 150px;
    margin-bottom: 17px;
  }
  .footer-link__wrapper {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 12px;
    margin-bottom: 8px;
  }
  .footer-link__social {
    display: block;
  }
  .footer-tel {
    display: block;
    font-size: 12px;
    color: #8a8a8a;
  }
  .footer-text {
    display: block;
    font-size: 12px;
    color: #8a8a8a;
  }
  .header-container__aluminum::after {
    top: 10px;
  }
}
@media (max-width: 550px) {
  .botonTypes-right-arrow {
    width: 80px;
    height: 80px;
    background-size: contain;
  }
  .botonTypes-left-arrow {
    width: 80px;
    height: 80px;
    background-size: contain;
    top: -270px;
  }
  .header-contacts {
    right: 28vw;
  }
  .header-contacts-tel {
    left: 6vw;
  }
  .top-item__two::after {
    left: 343px;
  }
}
@media (max-width: 500px) {
  .header-contacts {
    right: 26vw;
  }
  .topSilicon-bg {
    width: 250px;
    height: 400px;
    top: -25px;
    right: 0px;
  }
  .topAluminum-bg {
    width: 250px;
    height: 400px;
  }
  .typesSlider-mobile-right-arrow {
    top: -420px;
  }
  .typesSlider-mobile-left-arrow {
    top: -390px;
  }
  .siliconTypes-mobile-right-arrow {
    top: -310px;
  }
  .siliconTypes-mobile-left-arrow {
    top: -280px;
  }
  .reasons-item__text {
    font-size: 12px;
  }
  .reasons-item__title {
    font-size: 16px;
  }
  .reasons-title {
    margin-bottom: 85px;
  }
  .top-item__one {
    margin-left: 50px;
  }
  .top-item__two::after {
    left: 285px;
  }
  .contacts-form {
    padding: 40px 40px 40px 40px;
    background-color: #365edc;
    border-radius: 14px;
    max-width: 615px;
    max-height: none;
  }
  .contacts-form-accept {
    margin-bottom: 20px;
    text-align: left;
    font-size: 12px;
  }
  .contacts-text {
    font-size: 28px;
  }
  .contacts-form__btn {
    font-size: 16px;
    padding: 19px 19px;
    margin-right: 23px;
  }
  .footer-nav__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .technology-item__btn {
    font-size: 14px;
    padding: 19px 10px;
  }
  .technology {
    padding: 81px 20px 37px 20px;
  }
  .characteristics-title {
    font-size: 24px;
  }
  .boronProcessingMobile-left-arrow {
    top: -450px;
  }
  .boronProcessingMobile-right-arrow {
    top: -480px;
  }
  .application-info__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .application-info__item {
    font-size: 18px;
  }
  .application-slider__info {
    padding: 130px 40px 80px 40px;
  }
}
@media (max-width: 450px) {
  .header-container::after {
    width: 332px;
    height: 454px;
    top: 22px;
    right: -140px;
  }
  .topSilicon-bg {
    width: 250px;
    height: 400px;
    top: -25px;
    right: 0px;
  }
  .topAluminum-bg {
    width: 250px;
    height: 400px;
    right: 0px;
  }
  .topBoron {
    margin-top: 132px;
    margin-bottom: 80px;
  }
  .topBoron-title {
    font-size: 14px;
  }
  .topBoron-title span {
    font-size: 48px;
  }
  .topBoron-title span + .up {
    font-size: 14px;
  }
  .topBoron-text {
    font-size: 12px;
  }
  .topSilicon {
    margin-top: 132px;
    margin-bottom: 80px;
  }
  .topSilicon-title {
    font-size: 14px;
  }
  .topSilicon-title span {
    font-size: 48px;
  }
  .topSilicon-title span + .up {
    font-size: 14px;
  }
  .topSilicon-text {
    font-size: 12px;
  }
  .topAluminum {
    margin-top: 132px;
    margin-bottom: 80px;
  }
  .topAluminum-title {
    font-size: 14px;
  }
  .topAluminum-title span {
    font-size: 48px;
  }
  .topAluminum-title span + .up {
    font-size: 14px;
  }
  .topAluminum-text {
    font-size: 12px;
  }
  .header-contacts {
    right: 24vw;
  }
  .header-contacts-tel {
    left: 10vw;
  }
  .typesSlider {
    margin-bottom: 0;
  }
  .typesSlider-slider__title {
    font-size: 15px;
  }
  .typesSlider-slider__text {
    padding: 0 60px 80px 60px;
  }
  .botonTypes-right-arrow {
    top: 0px;
    left: 78%;
  }
  .botonTypes-left-arrow {
    top: 80px;
    left: 0px;
  }
  .typesSlider {
    padding: 0;
  }
  .application-title {
    margin-bottom: 14px;
  }
  .contacts-title {
    font-size: 50px;
    margin-bottom: 0;
  }
  .boronProcessingMobile-title {
    font-size: 24px;
  }
  .boronProcessingMobile-item__title {
    font-size: 18px;
  }
  .boronProcessingMobile-item__text {
    font-size: 12px;
  }
  .typesSlider-mobile-right-arrow {
    left: 97%;
  }
  .boronProcessingMobile-right-arrow {
    left: 97%;
    top: -375px;
  }
  .boronProcessingMobile-left-arrow {
    top: -345px;
  }
  .top-item__two::after {
    left: 220px;
  }
  .footer {
    padding: 60px 12px;
  }
  .footer-logo {
    max-width: 100px;
  }
  .base-slider-mobile__text {
    font-size: 12px;
  }
  .application-slider__info {
    padding: 80px 40px 80px 40px;
  }
  .c-item1 {
    top: -23px;
  }
  .c-item5 {
    top: 507px;
  }
  .c-item6 {
    top: 674px;
  }
  .c-item7 {
    top: 799px;
  }
  .characteristics-item__text {
    font-size: 14px;
  }
  .reasons-bot__item {
    margin-left: 110px;
  }
  .application-right-arrow {
    top: -190px;
  }
  .application-left-arrow {
    top: -160px;
  }
  .aluminum-right-arrow {
    top: -300px;
  }
  .aluminum-left-arrow {
    top: -270px;
  }
}
@media (max-width: 430px) {
  .typesSlider-mobile-right-arrow {
    top: -465px;
  }
  .typesSlider-mobile-left-arrow {
    top: -435px;
  }
  .siliconTypes-mobile-right-arrow {
    top: -370px;
  }
  .siliconTypes-mobile-left-arrow {
    top: -340px;
  }
}
@media (max-width: 400px) {
  .header-contacts {
    right: 21vw;
  }
  .topSilicon-bg {
    width: 250px;
    height: 350px;
    top: -18px;
    right: 0px;
  }
  .topAluminum-bg {
    width: 250px;
    height: 350px;
    right: 0px;
  }
  .button-outlined {
    padding: 19px 20px;
  }
  .application-info__item {
    font-size: 16px;
  }
  .application-left-arrow {
    top: -200px;
  }
  .application-right-arrow {
    top: -230px;
  }
  .application-left-arrow {
    top: -135px;
  }
  .application-right-arrow {
    top: -165px;
  }
  .aluminum-right-arrow {
    top: -300px;
  }
  .aluminum-left-arrow {
    top: -270px;
  }
  .application-slider__title {
    margin-left: 20px;
    bottom: 60px;
    font-size: 20px;
  }
  .contacts-form-text {
    font-size: 13px;
  }
  .contacts-form__input {
    background-color: #4371ff10;
    padding: 17px 20px;
    max-width: 100%;
  }
  .contacts-text {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .contacts-form {
    padding: 40px 20px;
  }
  .boronProcessingMobile-left-arrow {
    top: -365px;
  }
  .boronProcessingMobile-right-arrow {
    top: -395px;
    left: 96%;
  }
  .typesSlider-mobile-right-arrow {
    left: 96%;
  }
  .characteristics-img-mobile:nth-child(2) {
    right: -8px;
  }
  .characteristics-img-mobile {
    max-width: 325px;
  }
  .base-slider-mobile-right-arrow {
    top: -350px;
  }
  .base-slider-mobile-left-arrow {
    top: -320px;
  }
  .application-slider__info {
    padding: 40px 20px 80px 20px;
  }
  .c-item1 {
    top: -23px;
  }
  .c-item5 {
    top: 507px;
  }
  .c-item6 {
    top: 674px;
  }
  .c-item7 {
    top: 823px;
  }
  .top-item__two::after {
    left: 170px;
  }
}
@media (max-width: 370px) {
  .header-contacts {
    right: 17vw;
  }
  .typesSlider {
    padding: 0 10px;
  }
  .typesSlider-mobile-right-arrow {
    top: -520px;
  }
  .typesSlider-mobile-left-arrow {
    top: -490px;
  }
  .siliconTypes-mobile-right-arrow {
    top: -375px;
  }
  .siliconTypes-mobile-left-arrow {
    top: -345px;
  }
  .botonTypes-right-arrow {
    left: 74%;
  }
  .reasons-item__text {
    font-size: 13px;
  }
  .top-item__two::after {
    left: 200px;
    top: -50px;
  }
  .top-item__one {
    padding: 40px 20px;
    margin-left: 35px;
  }
  .top-item__two {
    margin-right: 45px;
    padding: 40px 20px;
  }
  .reasons-bot__item {
    margin-left: 35px;
    margin-bottom: 24px;
    padding: 40px 20px;
  }
  .contacts-form {
    width: 100%;
  }
  .contacts-form__btn {
    padding: 4px 16px;
  }
  .characteristics-img-mobile:nth-child(2) {
    right: -5px;
  }
  .characteristics-img-mobile {
    max-width: 310px;
  }
  .characteristics-item__text {
    font-size: 12px;
  }
  .c-item1 {
    top: 3px;
  }
  .c-item5 {
    top: 541px;
  }
  .c-item6 {
    top: 685px;
    right: 102px;
  }
  .c-item7 {
    top: 803px;
  }
  .footer-tel {
    font-size: 8px;
  }
  .footer-text {
    font-size: 8px;
  }
}
