html {
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header {
  margin-top: 10px;
}

.header-container {
  padding: 0 10px;
  max-width: 1839px;
  margin: 0 auto;
  position: relative;
}

.header-container::after {
  content: "";
  position: absolute;
  background-image: url("../assets/boron-nitride/boron-main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 876px;
  height: 1232px;
  top: -10px;
  right: 0;
  z-index: -10;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #161616;
  padding: 22px 40px;
  border-radius: 8px;
}

.logo {
  max-width: 220px;
  width: 100%;
  height: 56px;
  padding-right: 30px;
}

.nav-list {
  display: flex;
  padding: 22px 0;
  z-index: 5;
}

.nav-item {
  margin-right: 44px;
  font-size: 16px;
  transition: opacity 0.2s ease-in-out;
}

.nav-item:hover {
  opacity: 0.8;
}

.header-contacts {
  display: flex;
  z-index: 5;
}

.header-contacts-tel {
  padding: 22px 0;
  margin-right: 52px;
  transition: opacity 0.2s ease-in-out;
}

.header-contacts-tel:hover {
  opacity: 0.8;
}

.button {
  padding: 19px 77px;
  color: #fff;
  background-color: #365edc;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #34495e;
}

.header-no-margin {
  margin-top: 0;
}

.no-scroll {
  overflow: hidden;
}

.header-no-border {
  border-radius: 0px;
}

.container-no-padding {
  padding: 0px 0px;
}

.active {
  display: flex !important;
}

.open {
  display: block !important;
}

.close {
  display: none !important;
}

.burger-menu__open {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 25px;
  background-image: url("../assets/burger-menu-icon.svg");
  background-repeat: no-repeat;
  margin: auto 0;
  display: none;
}

.burger-menu__close {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: none;
  background-image: url("../assets/close-burger-icon.svg");
  background-repeat: no-repeat;
  margin: auto 0;
}

.container {
  max-width: 1504px;
  margin: 0 auto;
  padding: 0 10px;
}

.topBoron {
  margin-top: 236px;
  margin-bottom: 262px;
  position: relative;
}

.topBoron-title {
  font-size: 44px;
  color: #ffffff30;
  text-transform: uppercase;
  max-width: 650px;
  margin-bottom: 75px;
}

.topBoron-title span {
  color: #fff;
  font-size: 128px;
}

.topBoron-title span + .up {
  color: #ffffff30;
  font-size: 68px;
  vertical-align: 70%;
}

.topBoron-text {
  max-width: 900px;
  font-size: 24px;
  margin-bottom: 120px;
}

.topBoron-text span {
  color: #0f70b7;
}

.button-outlined {
  border: #757575 1px solid;
  margin-left: 40px;
  background-color: inherit;
}

.typesSlider {
  margin-bottom: 40px;
}

.typesSlider-title {
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 40px;
}

.typesSlider-slider {
  gap: 40px;
}

.typesSlider-slider__item {
  max-width: 732px;
  width: 100%;
  background-color: #fff;
  border-radius: 14px;
  color: #161616;
  min-height: 400px;
}

.typesSlider-slider__title {
  padding: 80px 80px 0 80px;
  margin-bottom: 40px;
  font-size: 24px;
}

.typesSlider-slider__text {
  color: #999999;
  padding: 0 80px 80px 88px;
}

.typesSlider-slider__img {
  width: 100%;
  max-width: 615px;
  max-height: 400px;
  margin: auto auto;
  display: flex;
}

.typesSlider-mobile {
  display: none !important;
}

.typesSlider-mobile__item {
  max-width: 732px;
  width: 100%;
  background-color: #fff;
  border-radius: 14px;
  color: #161616;
  min-height: 400px;
}

.typesSlider-mobile__title {
  padding: 20px 24px;
  margin-bottom: 40px;
  font-size: 24px;
}

.typesSlider-mobile__text {
  color: #999999;
  padding: 20px 24px;
}

.typesSlider-mobile__img {
  width: 100%;
  max-width: 336px;
  max-height: 213px;
  margin: auto auto;
  display: flex;
}

.typesSlider-left-arrow {
  position: relative;
  background-image: url("../assets/arrow-left.svg");
  width: 99px;
  height: 99px;
  top: -250px;
  z-index: 10;
  left: -50px;
  cursor: pointer;
}

.typesSlider-right-arrow {
  background-image: url("../assets/arrow-right.svg");
  width: 99px;
  height: 99px;
  position: relative;
  top: -350px;
  z-index: 10;
  left: 96%;
  cursor: pointer;
}

.typesSlider-mobile-left-arrow {
  position: relative;
  background-image: url("../assets/mobile-left-arrow.svg");
  width: 18px;
  height: 30px;
  top: -230px;
  z-index: 10;
  left: -10px;
  cursor: pointer;
  display: none;
}
.typesSlider-mobile-right-arrow {
  background-image: url("../assets/mobile-right-arrow.svg");
  width: 18px;
  height: 30px;
  position: relative;
  top: -260px;
  z-index: 10;
  left: 98%;
  cursor: pointer;
  display: none;
}

.boronProcessing {
  margin-bottom: 120px;
  padding: 81px 62px 0px 74px;
  background-color: #2b2b2b70;
  border-radius: 14px;
}

.boronProcessing-title {
  margin-bottom: 80px;
  font-size: 44px;
  text-transform: uppercase;
}

.boronProcessing-wrapper {
  display: flex;
  justify-content: space-between;
}

.boronProcessing-item {
  margin-bottom: 77px;
}

.boronProcessing-item__title {
  margin-bottom: 40px;
  font-size: 24px;
  max-width: 309px;
}

.boronProcessing-item__text {
  max-width: 470px;
  margin-bottom: 80px;
}

.boronProcessing-item__btn {
  text-transform: none;
}

.boronProcessingMobile {
  margin-bottom: 120px;
  display: none;
}

.boronProcessingMobile-title {
  margin-bottom: 40px;
  font-size: 44px;
  text-transform: uppercase;
}

.boronProcessingMobile-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  border-radius: 14px;
  padding: 24px 20px;
}

.boronProcessingMobile-item__title {
  margin-bottom: 40px;
  font-size: 24px;
  margin-left: 9px;
}

.boronProcessingMobile-item__text {
  max-width: 470px;
  margin-bottom: 24px;
  margin-left: 9px;
}

.boronProcessingMobile-item__btn {
  text-transform: none;
}

.boronProcessingMobile-link img {
  transition: opacity 0.2 ease-in-out;
  margin-bottom: 14px;
  width: 100%;
}

.boronProcessingMobile-link img:hover {
  opacity: 0.8;
}

.boronProcessingMobile-left-arrow {
  position: relative;
  background-image: url("../assets/mobile-left-arrow.svg");
  width: 18px;
  height: 30px;
  top: -370px;
  z-index: 10;
  left: -5px;
  cursor: pointer;
}

.boronProcessingMobile-right-arrow {
  background-image: url(../assets/mobile-right-arrow.svg);
  width: 18px;
  height: 30px;
  position: relative;
  top: -400px;
  z-index: 10;
  left: 98%;
  cursor: pointer;
}

.characteristics {
  margin-bottom: 120px;
}

.characteristics-title {
  font-size: 44px;
  margin-bottom: 50px;
  max-width: 820px;
  text-transform: uppercase;
}

.characteristics-img {
  max-width: 932px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.characteristics-wrapper {
  position: relative;
}

.characteristics-item {
  background-color: #2b2b2b;
  padding: 16px;
  max-width: 361px;
  position: absolute;
  z-index: -1;
}

.characteristics-item__text {
  font-size: 16px;
}

.c-item1 {
  top: 154px;
  left: -76px;
}

.c-item2 {
  top: 425px;
  left: -52px;
}

.c-item3 {
  top: 674px;
  left: 38px;
}

.c-item4 {
  top: 889px;
  left: 430px;
}

.c-item5 {
  top: -14px;
  right: 127px;
}

.c-item6 {
  top: 284px;
  right: 68px;
}

.c-item7 {
  top: 678px;
  right: 106px;
}

.characteristics-mobile {
  display: none;
  visibility: hidden;
}

.characteristics-img-wrapper {
  display: none;
}

.characteristics-img-mobile {
  max-width: 400px;
  position: relative;
}

.characteristics-img-mobile:nth-child(1) {
  left: -10px;
}

.characteristics-img-mobile:nth-child(2) {
  float: right;
  grid-column: span 2;
  justify-self: self-end;
  right: -10px;
}

.characteristics-btn {
  float: right;
  position: relative;
  bottom: 100px;
}

.reasons {
  margin-bottom: 120px;
}

.reasons-title {
  font-size: 44px;
  max-width: 850px;
  margin-bottom: 176px;
  text-transform: uppercase;
}

.reasons-top__inner {
  color: #161616;
  margin-bottom: 156px;
  display: flex;
}

.reasons-top__item {
  background-color: #fff;
  border-radius: 14px;
  padding: 40px 40px;
  max-width: 566px;
  max-height: 336px;
}

.top-item__one {
  margin-right: 196px;
  position: relative;
  margin-left: 146px;
}

.top-item__one::after {
  z-index: -10;
  content: "1";
  position: absolute;
  font-size: 500px;
  top: -250px;
  left: -135px;
  z-index: -10;
  font-family: Geist Bold;
  color: #0f70b7;
  background: linear-gradient(279deg, #161616 37.77%, #0f70b7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reasons-item__title {
  margin-bottom: 40px;
  font-size: 24px;
}

.reasons-item__text {
  max-width: 435px;
  color: #999999;
  color: #161616;
}

.top-item__two {
  position: relative;
  margin-top: 126px;
}

.top-item__two::after {
  content: "2";
  position: absolute;
  font-size: 500px;
  top: -261px;
  left: -144px;
  z-index: -10;
  font-family: Geist Bold;
  color: #0f70b7;
  background: linear-gradient(279deg, #161616 30.77%, #0f70b7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reasons-bot__inner {
  color: #161616;
  justify-content: space-between;
  display: flex;
}

.reasons-bot__item {
  background-color: #fff;
  border-radius: 14px;
  padding: 40px 40px;
  max-width: 566px;
  max-height: 336px;
  margin-left: 298px;
  position: relative;
}

.reasons-bot__item::after {
  content: "3";
  position: absolute;
  font-size: 500px;
  top: -260px;
  left: -153px;
  z-index: -10;
  font-family: Geist Bold;
  color: #0f70b7;
  background: linear-gradient(279deg, #161616 30.77%, #0f70b7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reasons-btn {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.application-title__wrapper {
  max-width: 1504px;
  margin: 0 auto;
  padding: 0 10px;
}

.application-title {
  font-size: 44px;
  margin-bottom: 40px;
  max-width: 1100px;
  text-transform: uppercase;
}

.application-info__list {
  margin-bottom: 40px;
  margin-left: 25px;
}

.application-info__item {
  list-style: disc;
  font-size: 24px;
  text-transform: uppercase;
  color: #999999;
}

.application-left-arrow {
  background-image: url("../assets/arrow-left.svg");
  width: 99px;
  height: 99px;
  position: relative;
  top: -300px;
  z-index: 10;
  left: 100px;
  cursor: pointer;
}

.application-right-arrow {
  background-image: url("../assets/arrow-right.svg");
  width: 99px;
  height: 99px;
  position: relative;
  top: -400px;
  z-index: 10;
  right: 100px;
  float: right;
  cursor: pointer;
}

.application-slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.application-slider__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.application-slider__title {
  font-size: 24px;
  max-width: 516px;
  text-transform: uppercase;
  margin-left: 80px;
  position: relative;
  bottom: 110px;
}

.inactive-slide {
  filter: blur(3px);
}

.swiper-slide-active {
  filter: blur(0);
}

.contacts {
  margin-bottom: 40px;
}

.contacts-title {
  font-size: 128px;
  margin-bottom: 63px;
  text-transform: uppercase;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts-info {
  margin-top: 75px;
}

.contacts-text {
  font-size: 64px;
  margin-bottom: 80px;
  color: #ffffff30;
  text-transform: uppercase;
  display: block;
}

.contacts-form {
  padding: 40px 40px 40px 40px;
  background-color: #365edc;
  border-radius: 14px;
  max-width: 615px;
  max-height: 430px;
}

.contacts-form__title {
  font-size: 16px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.contacts-form-text {
  margin-bottom: 20px;
  max-width: 430px;
}

.contacts-form__input {
  background-color: #4371ff10;
  padding: 17px 20px;
  width: 100%;
  margin-bottom: 20px;
  border: #4371ff 1px solid;
  border-radius: 4px;
  color: #fff;
}

.contacts-form__input::placeholder {
  color: #ffffff30;
}

.contacts-form__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts-form__btn {
  background-color: #fff;
  color: #365edc;
  margin-right: 42px;
}

.contacts-form-accept {
  font-size: 10px;
  color: #ffffff50;
  text-align: right;
  max-width: 220px;
}

.footer {
  padding: 76px 80px;
  background-color: #161616;
  display: flex;
}

.footer-logo {
  margin-right: 157px;
  cursor: pointer;
}

.footer-link__social {
  display: none;
}

.footer-tel {
  display: none;
}

.footer-text {
  display: none;
}

.footer-nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-nav__link {
  font-size: 16px;
  transition: opacity 0.2 ease-in-out;
}

.footer-nav__link:hover {
  opacity: 0.8;
}
